fastapi-profiler==1.0.0
  fastapi==0.87.0
    pydantic==1.10.2
      typing_extensions==4.4.0
    starlette==0.21.0
      anyio==3.6.2
        idna==3.4
        sniffio==1.3.0
  pyinstrument==4.4.0
httpx==0.23.0
  certifi==2022.9.24
  httpcore==0.15.0
    anyio==3.6.2
      idna==3.4
      sniffio==1.3.0
    certifi==2022.9.24
    h11==0.12.0
    sniffio==1.3.0
  rfc3986==1.5.0
  sniffio==1.3.0
isort==5.10.1
loguru==0.6.0
pipdeptree==2.3.3
pycodestyle==2.9.1
pytest-cov==4.0.0
  coverage==6.5.0
  pytest==7.2.0
    attrs==22.1.0
    exceptiongroup==1.0.2
    iniconfig==1.1.1
    packaging==21.3
      pyparsing==3.0.9
    pluggy==1.0.0
    tomli==2.0.1
pytest-mock==3.10.0
  pytest==7.2.0
    attrs==22.1.0
    exceptiongroup==1.0.2
    iniconfig==1.1.1
    packaging==21.3
      pyparsing==3.0.9
    pluggy==1.0.0
    tomli==2.0.1
PyYAML==6.0
uvicorn==0.18.3
  click==8.0.1
  h11==0.12.0
